<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<div th:fragment="footer">
    <footer  class="text-center text-lg-start text-dark bg-dark">
        <div class="text-center p-3 text-white">
            Made by
            <a class="text-white" th:href="@{'/'}">Nabil Lahssini</a>
        </div>
    </footer>
</div>
<style>
    footer {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 60px;            /* Footer height */
    }
</style>
</html>