<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<!-- https://www.markuptag.com/bootstrap-5-navigation-bar-example/ -->
<div th:fragment="navbar">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <!-- Site Logo Here -->
            <a class="navbar-brand" th:href="@{'/'}">My shop</a>

            <div class="collapse navbar-collapse" id="navbarMobileToggle">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                </ul>

                <!-- Right Side -->
                <div sec:authorize="isAuthenticated()">
                <div class="btn-group float-end">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a href="#" class="dropdown-toggle text-decoration-none text-light"
                               data-bs-toggle="dropdown" th:text="${username}"></a>
                                    <ul class="dropdown-menu dropdown-menu-end">
                                        <li><a th:href="@{'/cart'}" class="dropdown-item">Shopping cart</a></li>

                                        <li><a th:href="@{'/logout'}" class="dropdown-item"><i class="bi bi-lock-fill">Logout</i></a></li>

                                    </ul>

                        </li>
                    </ul>
                </div>

                </div>
            </div>
        </div>
    </nav>
</div>
</html>